/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #112a7c;
  --ifm-color-primary-dark: #0f256f;
  --ifm-color-primary-darker: #0d2063;
  --ifm-color-primary-darkest: #0b1a52;
  --ifm-color-primary-light: #132f89;
  --ifm-color-primary-lighter: #143293;
  --ifm-color-primary-lightest: #1639a3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1e3fa6;
  --ifm-color-primary-dark: #1b3996;
  --ifm-color-primary-darker: #193490;
  --ifm-color-primary-darkest: #152b79;
  --ifm-color-primary-light: #2246b2;
  --ifm-color-primary-lighter: #2a4fc0;
  --ifm-color-primary-lightest: #4966cd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.tabs__item {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
