name: Code Quality

on:
  push:
    branches:
      - '*'

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-monorepo

      - name: Run Format Check
        run: pnpm nx format:check

      - name: Run code quality
        run: |
          pnpm nx affected -t lint test build
